* {
  box-sizing: border-box;
}

html, body {
  @extend %full-scale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font-family;
  letter-spacing: .1rem;
  margin: 0;
}

p {
  line-height: 2.1rem;
}

p, span, a {
  font-family: $base-font-family;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:visited {
    @extend a;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}
