.desktop-section {
  @include flex($justify: center, $align: center);

  &__content {
    width: 80%;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: 3.3rem;
  }
}
