.main-navi {
  position: fixed;
  @include flex($justify: flex-end, $align: center);
  width: 100%;
  padding: 1em 1em;
  color: #fff;
  background: transparent;

  &__brand {
    flex: 1;
  }

  &__links {
    flex: 1;
    @include flex($justify: flex-end, $align: flex-start);
  }

  &__link {

    &:not(:last-child) {
      padding-right: 2em;
    }
  }
}
